
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hakkimizda</title>
</head>
<body>
    <b>Koyu</b> <br />
    <em>Yatık(italik)</em><br />
    <i>italik</i><br />
    bbb<sub>bbb</sub>bbb <br />
    ddd<sup>eee</sup>ddd <br />
    Bu metinde<s>Burasının üstü</s>çizili yazıldı
    <p>paragraf 1</p>
    <p>paragraf 2</p>
    Bu metinde
    <del>Burasının da üstü</del>çizili yazıldı <br />
    Bu metinde
    <u>Burasının altı</u>çizili yazıldı
    <br />
    Bu metinde
    burası<small> küçük</small> yazıldı <br />
    Bu metinde
    burası<big> büyük</big> yazıldı <br />
    Bu metinde
    <center>Burası ortalandı</center> <br />
    <abbr title="Türkiye Büyük Millet meclisi">
        &nbsp;TBMM &nbsp;
    </abbr>23 Nisan 1920 tarihinde kuruldu.
    <br />

    <ul>
        <li>İzmir</li>
        <li>Muğla</li>
        <li>Denizli</li>
    </ul>
    <br />
     <ol>
         <li>Aydın</li>
        <li>Manisa</li>
        <li>Kütahya</li>
     </ol>
      <hr />  

     <dl>
         <dt>Kahve Türleri</dt>
         <dd>Türk kahveleri</dd>
        <dd>Brezilya kahveleri</dd>
        <dd>Etiyopya kahvesi</dd>
        <br />
        <dt>Çay Türleri</dt>
        <dd>Rize Turist Çayı</dd>
        <dd>İngiliz Çayı</dd>
        <dd>Seyelan Çayı</dd>

     </dl>








<hr />

    HAKKIMIZDA SAYFASI İÇERİĞİ BURADA OLACAK
</body>
</html>
