
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
    <link href="~/css/Style.css" rel="stylesheet" />
    
</head>
<body>

    <div style="background-color:skyblue;color:darkmagenta;">
        index3 sayfası(inline stil vermek)
    </div>

    <div>
        div44444
    </div>

    <div class="class_ozgur1">
        div55555
    </div>

    <div class="class_ozgur1">
        div66666
    </div>

</body>
</html>
