
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>

   <link href="~/css/Style.css"rel="stylesheet" />
</head>
<body>

    <a href="/Home/Index3">İndex3 sayfasına git</a>

    <div style="background-color:skyblue;color:darkmagenta;"> 
        index2 sayfası(inline stil vermek)
    </div>

    <div>
        div11111
    </div>

    <div style="z-index:10;" >
        div22222
    </div>

    <div style="position:relative;top:-70px;background-color:yellowgreen;">
        div33333
    </div>

</body>
</html>
